body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin p {
  margin-top: 10px;
}
.panel-title > a {
  color: #337ab7;
}
.error {
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.margin-left-5 {
  margin-left: 5px;
}
.bcg-transparent {
  background-color: transparent;
  text-align: right;
  margin: 10px 0;
}
.left {
  margin-left: 8px;
  float: right;
}